<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="parts.html :: pageHeader('座席登録')"></div>
</head>

<body>
    <h1>座席登録</h1>
    <div th:insert="parts.html :: logout"></div>

    下記の情報を入力して，登録を押してください．
    <form role="form" th:action="@{/seats/create}" th:object="${seatForm}" method="post">
        <table class="tabform">
            <tr>
                <td><label for="name">座席名： </label></td>
                <td><input class="large" type="text" required th:field="*{name}" />
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td><label for="posFromLeft">座席位置(x)： </label></td>
                <td><input type="range" min="0.0" max="100.0" step="0.5" class="large" th:field="*{posFromLeft}" onchange="setFromLeft(this.value);" />
                    <span th:if="${#fields.hasErrors('posFromLeft')}" th:errors="*{posFromLeft}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td><label for="posFromTop">座席位置(y)： </label></td>
                <td><input type="range" min="0.0" max="100.0" step="0.5" class="large" th:field="*{posFromTop}" onchange="setFromTop(this.value);" />
                    <span th:if="${#fields.hasErrors('posFromTop')}" th:errors="*{posFromTop}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="button large" th:href="@{/}">座席一覧へ</a>
                    <input type="submit" class="button" value="登録" />
                </td>
            </tr>
        </table>
    </form>

    <div class="seat-back-mini">
        <img th:src="@{/img/seats.png}" class="seats" />
        <img id="preview" class="icon" th:src="@{/img/vacant.png}" />
    </div>

    <div th:insert="parts.html :: pageFooter"></div>

    <script>
        const setFromLeft = function(x) {
            document.getElementById('preview').style.left = x + "%";
        }
        const setFromTop = function(y) {
            document.getElementById('preview').style.top = y + "%";
        }
    </script>
</body>

</html>