<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="parts.html :: pageHeader('ユーザ一覧画面')"></div>
</head>

<body>
    <h1>ユーザ一覧</h1>
    <div class="chart" th:insert="parts.html :: logout"></div>

    <table class="list user">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>担当教員名</th>
            <th>学年</th>
            <th>座席ID</th>
            <th>作成日</th>
            <th>---</th>
        </tr>
        <tr th:each="u: ${userList}">
            <th:block th:unless="${#strings.equals(user.username, u.id)}"></th.block>
            <td>[[${u.id}]]</td>
            <td>[[${u.name}]]</td>
            <td>[[${u.bossName}]]</td>
            <td>[[${u.grade}]]</td>
            <td>[[${u.seatId}]]</td>
            <td>[[${u.createdAt}]]</td>
            <td>
                <th:block th:unless="${#strings.equals(user.username, u.id)}">
                    <a th:href="@{/users/{userId}(userId=*{u.id})}">詳細</a>
                </th.block>
                <th:block th:if="${#strings.equals(user.username, u.id)}">
                    <a th:href="@{/me}">詳細</a>
                </th.block>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <th:block th:if="${#strings.equals(user.role, 'ADMIN')}">
                    <a class="button" th:href="@{/create-user}">新規登録へ</a>
                    <a class="button" th:href="@{/seats}">座席管理へ</a>
                </th:block>
                <a class="button" th:href="@{/}">ホームへ</a>
            </td>
        </tr>


    </table>
    <div th:insert="parts.html :: pageFooter"></div>


</body>

</html>