<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="parts.html :: pageHeader('新規ユーザ作成')"></div>
</head>

<body>
    <h1>ユーザの座席を選んでください</h1>
    <th:block th:insert="parts.html :: logout"></th:block>

    <a class="button" th:href="@{/users}">ユーザ一覧へ</a>
    <a class="button" th:href="@{/seats}">座席一覧へ</a>
    <a class="button" th:href="@{/}">ホームへ</a>
    
    <div class="seat-back">
        <img th:src="@{/img/seats.png}" class="seats">

        <a th:each="vacant : ${vacants}" th:object="${vacant}" th:href="@{/create-user/{seatId}(seatId=*{id})}" class="shadow">
            <img th:src="@{/img/vacant.png}" th:styleappend="|top: __*{posFromTop}__%; left: __*{posFromLeft}__%;|" class="icon" />
        </a>
    </div>

    <div th:insert="parts.html :: pageFooter"></div>
</body>

</html>
