:root {
    --seat-width:  1950px;
    --seat-height: 1575px;
}

.seat-back {
    position: relative;
    width:    calc(var(--seat-width)  / 2);   /* seats.pngの幅の半分   */
    height:   calc(var(--seat-height) / 2);   /* seats.pngの高さの半分 */
}

.seat-back-mini {
    position: relative;
    width:    calc(var(--seat-width)  / 4);
    height:   calc(var(--seat-height) / 4);
    border:   1px solid;
}

.seats {
    position: absolute;
    width:    98%;
    height:   98%;
    top:      1%;
    left:     1%;
}

.icon {
    position: absolute;
    width:    5%;
}

a.shadow img:hover {
    box-shadow : 0px 0px 50px blue;  /* 画像の影 */
}
